server:
  port: 8089

spring:
  application:
    name: monitor-service
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_ADDR:127.0.0.1:8848}
      config:
        server-addr: ${NACOS_ADDR:127.0.0.1:8848}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER_URI:gmrfid-auth}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
